@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter';
    background-color: #7C52A2;
}

h1{
    color: #FF0000;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 67px;
}
.main-img{
    display: block;
    margin: auto;
}
.star-img{
    display: block;
    margin: auto;
    margin-top: 15px;
}
h2{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 21px;
}
.title-img{
    display: block;
    margin: auto;

}
.title-text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 35px;
}
.map{
    display: block;
    margin: auto;
}
.name{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.price{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.gram{
    font-size: 24px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 0;
}
article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 512px;
    margin: auto;
    margin-bottom: 25px;
}
footer{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 70px;
}